ul {
    list-style: none;
}

.DailyForecast {
display: inline-flex;
padding-bottom: 1.5em;
width:20%;
}

.scroll-bar {  
  width: 100%;
  height: 5.5em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  grid-area: "scroll-bar-div";
}


.box1 {
  width: 100%;
  height: 3em;
  padding:1.8em;
  color:rgb(65, 63, 62);
  
}

#first-icon  {
    color: rgb(133, 133, 132);
    font-weight: lighter;
}


 #tomorrow{
text-align: center;
color: rgb(133, 133, 132);
font-size: 0.6em;
}

.child-box {
 text-align: center;
 font-size: 1em;
}


.info-max-min {
    font-size: 0.7em;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    color: gray;
    text-align: left;
}

.info-percieved, .info-humidity, .info-wind {
    font-size: 0.6em;
    text-align: left;
    padding: 0.5em;
    color: gray;
}

@media (max-width: 470px) {

.DailyForecast {
display: flex;
padding-bottom: 1.5em;
width:100%;
}

.box1 {
  width: 100%;
  height: 3em;
  padding:1.8em;
  color:rgb(65, 63, 62);
  
}


 #tomorrow{
text-align: center;
color: rgb(133, 133, 132);
font-size: 1em;
}

.child-box {
 text-align: center;
 font-size: 2em;
}


.info-max-min {
    font-size: 1em;
    padding-top: 5em;
    padding-bottom: 1em;
    padding-right: 2em;
    color: gray;
    text-align: center;
}

.info-percieved, .info-humidity, .info-wind {
    font-size: 0.6em;
    text-align: center;
    color: gray;
    padding-right: 3em;
}


}