 .HourlyForecast {
  background-color: rgba(218, 234, 245, 0.366);
  width: 5em;
  padding: 0.5em;
  border-radius: 0.8em;
  font-size: 1em;
  margin-right: 0.9em;
  float: none;
  display: inline-block;
  box-shadow: 0.05em 0.05em 0.05em  rgba(65, 63, 62, 0.2) ;
  }

